body{
    height: 90vh;
    background-color: #fff8e1;
    overflow: hidden;
}
.side-nav{
    height: 90vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.sideBar{
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
}
.addDeck, .deckBtn{
    width: 100%;
}
.deckBtn{
    margin-bottom: 5px;
}
.mainRow{
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.classIcon{
    vertical-align: middle;
}